.userpage, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.4);
}

.userpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9375rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 46.875rem;
  height: 100vh;
  line-height: 1.4;
  background-color: var(--container-color);
  border-radius: 0;
  overflow-y: auto;
}

.avatar-wallpaper-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.userpage-wallpaper {
  width: 100%;
  height: 23.4375rem;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
}

.avatar-wallpaper-wrapper img,
.avatar-wallpaper-wrapper .avatar-img {
  position: absolute;
  bottom: -3.125rem;
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 0.9375rem;
  border: 0.25rem solid var(--container-color);
  background-color: var(--container-color);
  z-index: 2;
}

.userpage-username {
  font-family: 'Open Sans';
  font-size: 1.125rem;
  color: var(--text-color-2);
  margin-bottom: 0.9375rem;
}

.userpage-name {
  font-family: 'Open Sans';
  margin-top: 3.75rem;
  font-size: 1.875rem;
  color: var(--text-color);
}

.userpage-about {
  font-family: 'Open Sans';
  font-size: 1.125rem;
  color: var(--text-color);
  margin-bottom: 0.9375rem;
  text-align: center;
}
