.links-title-display {
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  color: var(--text-color);
}

.media-link-wrapper {
  display: flex;
  flex-direction: row;
  width: max-content;
  column-gap: 0.625rem;
}

.media-link-btn {
  font-family: 'Open Sans';
  text-decoration: none;
  text-align: center;
  background-color: var(--button-color);
  color: var(--text-color);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 3.125rem;
  transition: hover, 0.3s;
  width: 17.1875rem;
}

.media-link-btn:hover {
  cursor: pointer;
  background-color: var(--button-color-hover);
}

.link-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}

.link-title-input-box {
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  text-align: center;
  margin-bottom: 1.5625rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.link-url-input-box {
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  text-align: center;
  width: 31.25rem;
  border: none;
  outline: none;
  margin-bottom: 0.625rem;
  background-color: transparent;
  color: var(--text-color);
}

.link-post-btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
