.nav-bar {
  display: flex;
  width: 100%;
  /* If you adjust the height, be sure to adjust the margin-bottom */
  /* of the main-page in ./Navigation/Dashboard.css as well! */
  height: 40px; 
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  transition: hover, 0.15s;
  background-color: rgba(0, 0, 0, 0.50);
  position: fixed;
}

.nav-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  width: 75px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.nav-button-wrapper:active {
  opacity: 0.75;
}

.nav-button-wrapper:hover {
  background-color: var(--nav-btn-hover-color)
}

.nav-button-label {
  flex: 5;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 350;
  font-size: 15px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-button-icon {
  flex: 2;
  color: white;
  text-align: right;
  text-align: right;
  margin: 0px;
}

.span {
  all: unset;
}