.nav-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(50% - 23.4375rem);
  background-color: var(--container-color);
  gap: 0.9375rem;
  padding: 1.25rem;
  z-index: 2000;
  border-right: 0.0625rem #343434 solid;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.nav-button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.625rem;
  transition: background-color 0.2s ease;
}

.nav-button-wrapper:hover {
  background-color: var(--nav-btn-hover-color);
}

.nav-button-label {
  color: white;
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  margin: 0;
}

.nav-button-icon {
  color: white;
  font-size: 0.875rem;
}

.create-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  border: none;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-radius: 0.9375rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.create-button:hover {
  background-color: var(--login-btn-hover-color);
}

.create-button-label {
  font-size: 0.9375rem;
  font-weight: bold;
  color: black;
}

.span {
  all: unset;
}
