.nav-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(50% - 375px); /** Formula: 50% + (1/2 * (Home.css home-modal-wrapper total width))
                                ONLY adjust this in tandem with the above css class*/
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  z-index: 2000;
  border-right: 1px #343434 solid;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-button-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.nav-button-wrapper:hover {
  background-color: var(--nav-btn-hover-color);
}

.nav-button-label {
  color: white;
  font-family: "Open Sans";
  font-size: 15px;
  margin: 0;
}

.nav-button-icon {
  color: white;
  font-size: 14px;
}

.create-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.create-button:hover {
  background-color: var(--login-btn-hover-color);
}

.create-button-label {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.span {
  all: unset;
}
