.side-bar {
  position: fixed;
  top: 0;
  left: calc(50% + 375px);
  height: 100vh;
  width: calc(50% - 375px); /** Formula: 50% - (1/2 * (Home.css home-modal-wrapper total width))
                                ONLY adjust this in tandem with the above css class*/
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  z-index: 2000;
  border-left: 1px #343434 solid;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--container-color-2);
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: box-shadow 0.2s ease;
}

.search-bar:has(input:focus) {
  box-shadow: 0 0 0 2px #03bbff;
}

.search-field {
  margin-left: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-size: 15px;
  width: 100%;
}

.search-results-container {
  display: flex;
  flex-direction: column;
}