.feed-toggle-navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(26, 26, 26, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 0.0625rem solid #343434;
}


.feed-toggle-btn {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  border-bottom: 0.2rem solid transparent;
}

.feed-toggle-btn:hover {
  background-color: var(--button-color-hover);
}

.feed-toggle-label {
  font-weight: 600;
  color: var(--text-color);
}

.media-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
}