body {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/default-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home-container {
  background-color: rgba(255, 255, 255, 1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 392.54px;
}

.home-upper-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 392.54px;
}

.home-lower-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 392.54px;
}

.home-upload-container {
  padding-top: 0px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}

.pencil-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f3f5;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  transition: hover, 0.3s;
  width: 20px;
  height: 20px;
}

.pencil-icon:hover {
  cursor: pointer;
  background-color: #ccd1db;
}

.fa-icon {
  color: black;
}

.home-username {
  font-family: 'Open Sans';
  font-size: 30px;
  color: black;
}

.home-name {
  font-family: 'Open Sans';
  font-size: 18px;
  color: gray;
  margin-bottom: 15px;
}

.links-title-display {
  font-family: 'Open Sans';
  font-size: 25px;
}

.media-link-wrapper {
  display: flex;
  flex-direction: row;
  width: max-content;
  column-gap: 10px;
}

.media-link-btn {
  font-family: 'Open Sans';
  text-decoration: none;
  text-align: center;
  background-color: #f2f3f5;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  transition: hover, 0.3s;
  width: 275px;
}

.media-link-btn:hover {
  cursor: pointer;
  background-color: #ccd1db;
}

.delete-link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f3f5;
  padding: 15px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: hover, 0.3s;
}

.delete-link-btn:hover {
  cursor: pointer;
  background-color: #ccd1db;
}

.line-break {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.link-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.link-input-box {
  font-family: 'Open Sans';
  font-size: 15px;
  text-align: center;
  width: 390px;
  border: none;
  outline: none;
  margin-bottom: 25px;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallpaper-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.avatar-preview {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}