.home-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  width: 392.54px;
}

.home-upload-container {
  padding-top: 0px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}

.pencil-icon {
  background-color: #f2f3f5;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  transition: hover, 0.3s;
}

.pencil-icon:hover {
  cursor: pointer;
  background-color: #ccd1db;
}

.fa-icon {
  color: black;
}

.home-username {
  font-family: 'Open Sans';
  font-size: 30px;
  color: black;
}

.home-name {
  font-family: 'Open Sans';
  font-size: 18px;
  color: gray;
  margin-bottom: 15px;
}