.gallery-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
}

.gallery-page-title {
  font-family: 'Open Sans';
  font-size: 25px;
  text-align: center;
  margin: none;
  margin-top: 25px;
  margin-bottom: 10px;
  color: black;
}

.gallery-upload-container {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color-2);
  border-radius: 15px;
  margin-bottom: 30px;
}

.gallery-board {
  border-radius: 15px;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 20px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color-2);
  padding: 15px;
  border-radius: 15px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-title-input-box {
  font-family: 'Open Sans';
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.post-title {
  font-family: 'Open Sans';
  font-size: 25px;
  color: var(--text-color);
}

.post-info {
  font-family: 'Open Sans';
  font-size: 15px;
  color: var(--text-color-2);
  margin-bottom: 15px;
}

.gallery-image {
  width: 730px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}