.gallery-board {
  border-radius: 15px;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 20px;
}

.post-container {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color-2);
  padding: 15px;
  border-radius: 15px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 15px;
  margin-bottom: 30px;
}

.gallery-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-title-input-box {
  font-family: 'Open Sans';
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.gallery-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  transform: translateY(-6px);
}

.post-title {
  font-family: 'Open Sans';
  font-size: 25px;
  color: var(--text-color);
}

.post-date {
  font-family: 'Open Sans';
  font-size: 15px;
  color: var(--text-color-2);
  margin-bottom: 15px;
}

.gallery-image {
  width: 550px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.post-btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
