.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-page {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9375rem;
  width: 46.875rem;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.4;
  background-color: var(--container-color);
  border-radius: 0;
}
