.blog-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  display: flex;
  padding-top: 0.9375rem;
  padding-bottom: -0.9375rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  border-radius: 0.9375rem;
  background-color: var(--container-color-2);
  width: 37.5rem;
}

.blog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.blog-information {
  margin-right: auto;
}

.blog-title {
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  color: var(--text-color);
}

.blog-date {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  color: var(--text-color-2);
  margin-bottom: 0.9375rem;
}

.blog-body {
  width: 100%;
  font-family: 'Open Sans';
  color: var(--text-color);
  margin-bottom: 1.875rem;
}

.blog-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  padding: 1.25rem;
  border-radius: 0.9375rem;
  margin-bottom: 1.25rem;
}

.blog-title-input-box {
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  text-align: center;
  margin-bottom: 1.5625rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.blog-content-input-box {
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  text-align: center;
  width: 31.25rem;
  border: none;
  outline: none;
  margin-bottom: 0.625rem;
  background-color: transparent;
  color: var(--text-color);
}

.blog-post-btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
