.blog-board {
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.25rem;
  column-gap: 1.25rem;
}

.blog-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 0.9375rem;
  padding-bottom: -0.9375rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  border-radius: 0.9375rem;
  background-color: var(--container-color-2);
  width: 37.5rem;
}

.blog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.blog-information {
  margin-right: auto;
}

.blog-title {
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  color: var(--text-color);
}

.blog-date {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  color: var(--text-color-2);
  margin-bottom: 0.9375rem;
}

.blog-body {
  width: 100%;
  font-family: 'Open Sans';
  color: var(--text-color);
  margin-bottom: 1.875rem;
}

.blog-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  padding: 1.25rem;
  border-radius: 0.9375rem;
  margin-bottom: 1.25rem;
}

.blog-title-input-box, .blog-content-input-box {
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.blog-title-input-box {
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  text-align: center;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.blog-content-input-box {
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  width: 31.25rem;
  border: none;
  outline: none;
  margin-bottom: 0.925rem;
  background-color: transparent;
  color: var(--text-color);
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: left;
  min-height: 2rem;
  overflow-y: hidden;
}

.blog-post-btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.blog-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.blog-likes-display {
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--button-text-color);
  text-decoration: none;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: 0.8375rem;
  padding-right: 0.8375rem;
  background-color: transparent;
  border-radius: 0.6rem;
  border: 1.5px solid gray;
}
