
.comment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  white-space: nowrap;
}

.comment-header-info {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.comment-username, .comment-date {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  color: var(--text-color);
  font-weight: 600;
  margin: 0.0625rem;
}

.comment-username {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.comment-username:hover {
  text-decoration: underline;
}

.comment-date {
  color: var(--text-color-2);
  font-weight: normal;
}

.comment-content {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.comment-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.comment-likes-display-wrapper {
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--text-color-2);
  text-decoration: none;
}