* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

:root{
  /* Root */
  --title-color: rgba(255, 255, 255, 1);
  --container-color: rgba(26, 26, 26, 1);
  --container-color-2: #262626;
  --container-color-2-hover: #3b3b3b;
  --box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  --text-color: white;
  --text-color-2: #999999;
  --button-color: #262626;
  --button-color-2: rgba(26, 26, 26, 1);
  --button-color-hover: #3c3c3c;
  --button-text-color: white;
  --blue-color: #03bbff;
  --blue-color-hover: #49cfff;
  
  --login-wrapper-color: rgb(255, 255, 255);
  --login-btn-hover-color: #ccd1db;
  
  --nav-bar-color: rgba(73, 157, 232, 0.25);
  --nav-wrapper-color: rgba(73, 157, 232, 0.25);
  --nav-btn-hover-color: #3b3b3b
}

hr {
  width: 100%;
  height: 5px;
  color: white;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* General */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/default-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.fa-icon {
  color: var(--button-text-color);
}

.fa-black {
  color: black;
}

input[type="file"]::file-selector-button {
  margin-top: 15px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  color: var(--button-text-color);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--button-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: hover, 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background: var(--button-color-hover);
}

.gray-btn {
  font-family: 'Open Sans';
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: var(--button-text-color);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--button-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: hover, 0.2s;
}

.gray-btn:hover {
  background: var(--button-color-hover);
}

.blue-btn {
  font-family: 'Open Sans';
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: var(--button-text-color);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--blue-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: hover, 0.2s;
}

.main-page-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
  height: auto;
  background-color: var(--container-color);
  overflow-y: auto;
  padding: 15px;
  z-index: 1000;
}

.page-title {
  font-family: 'Open Sans';
  font-size: 25px;
  color: var(--text-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}