* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

:root{
  /* Root */
  --title-color: rgba(255, 255, 255, 1);
  --container-color: rgba(26, 26, 26, 1);
  --container-color-2: #262626;
  --container-color-2-hover: #3b3b3b;
  --box-shadow: 0 0 12px rgba(255, 255, 255, 0.2), 0 0 24px rgba(255, 255, 255, 0.2);
  --text-color: white;
  --text-color-2: #999999;
  --button-color: #262626;
  --button-color-2: rgba(26, 26, 26, 1);
  --button-color-hover: #3c3c3c;
  --button-text-color: white;
  --blue-color: #03bbff;
  --blue-color-hover: #49cfff;
  
  --login-wrapper-color: rgb(255, 255, 255);
  --login-btn-hover-color: #ccd1db;
  
  --nav-bar-color: rgba(73, 157, 232, 0.25);
  --nav-wrapper-color: rgba(73, 157, 232, 0.25);
  --nav-btn-hover-color: #3b3b3b
}

/* HTML */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/default-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5625rem;
}

.main-page-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 46.875rem;
  height: auto;
  background-color: var(--container-color);
  z-index: 1000;
}

/* FontAwesome Icons*/
.fa-red-heart {
  color: red;
  cursor: pointer;
  transition: color 0.2s ease;
}

.fa-red-heart:hover {
  color: rgb(255, 101, 101);
}

.fa-blue-comment {
  color: var(--blue-color);
  cursor: pointer;
  transition: color 0.2s ease;
}

.fa-blue-comment:hover {
  color: var(--blue-color-hover);
}

.fa-gold-star {
  color: gold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.fa-gold-star:hover {
  color: rgb(255, 232, 101);
}

.fa-gray-heart, .fa-gray-comment, .fa-gray-star {
  color: var(--text-color-2);
  cursor: pointer;
  transition: color 0.2s ease;
}

.fa-gray-heart:hover, .fa-gray-comment:hover, .fa-gray-star:hover {
  color: var(--text-color);
}

.fa-icon {
  color: var(--button-text-color);
}

.fa-black {
  color: black;
}

.fa-red {
  color: red;
}

.fa-blue {
  color: var(--blue-color);
}
/* General */
input[type="file"]::file-selector-button {
  margin-top: 0.9375rem;
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--button-text-color);
  text-decoration: none;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background-color: var(--button-color);
  border-radius: 100rem;
  border: none;
  cursor: pointer;
  transition: hover, 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background: var(--button-color-hover);
}

.gray-btn {
  font-family: 'Open Sans';
  margin: none;
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--button-text-color);
  text-decoration: none;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background-color: var(--button-color);
  border-radius: 100rem;
  border: none;
  cursor: pointer;
  transition: hover, 0.2s;
}

.gray-btn:hover {
  background: var(--button-color-hover);
}

.blue-btn {
  font-family: 'Open Sans';
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--button-text-color);
  text-decoration: none;
  white-space: nowrap;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background-color: var(--blue-color);
  border-radius: 100rem;
  border: none;
  cursor: pointer;
  transition: hover, 0.2s;
}

.blue-btn:hover {
  background-color: var(--blue-color-hover);
}

.page-title {
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  color: var(--text-color);
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5625rem;
  background-color: var(--button-color);
  border-radius: 0.9375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 0.9375rem;
  width: 0.3125rem;
  height: 0.3125rem;
  transition: hover 0.2s ease;
}

.more-button:hover {
  background-color: var(--button-color-hover);
}

.more-wrapper {
  position: relative;
  display: inline-block;
}

.more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: -50%;
  transform: translateX(-50%);
  background-color: var(--container-color);
  box-shadow: var(--box-shadow);
  z-index: 10;
  border-radius: 0.375rem;
  width: 15.625rem;
}

.more-button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.625rem;
  transition: background-color 0.2s ease;
}

.more-text-red {
  font-size: 1rem;
  text-align: center;
  color: red;
}

.more-text-white {
  font-size: 1rem;
  text-align: center;
  color: white;
}